@page
@model CSE_201_Prototype.Pages.Softwares.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Software</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Software.UrlAddress" class="control-label"></label>
                <input asp-for="Software.UrlAddress" class="form-control" />
                <span asp-validation-for="Software.UrlAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.SoftwareName" class="control-label"></label>
                <input asp-for="Software.SoftwareName" class="form-control" />
                <span asp-validation-for="Software.SoftwareName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.CitedArticles" class="control-label"></label>
                <input asp-for="Software.CitedArticles" class="form-control" />
                <span asp-validation-for="Software.CitedArticles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.PublishDate" class="control-label"></label>
                <input asp-for="Software.PublishDate" class="form-control" />
                <span asp-validation-for="Software.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.UpdateDate" class="control-label"></label>
                <input asp-for="Software.UpdateDate" class="form-control" />
                <span asp-validation-for="Software.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
